[2017-06-22 12:39] godofdream opened #1 "Remove deprecated speed benchmark"
The benchmark was done using iris v5.
We should either remove it or create a new one.
(Version 0bafd86d2894b92eca55cea5f4f36d6ef333b35b)

[2017-06-22 12:54] godofdream opened #2 "brotli compression"
Many modern Browsers support brotli compression.
We should add optional brotli compression. It does not need to be best compressionlevel.

https://caniuse.com/#search=brotli

[2017-06-22 13:01] godofdream opened #3 "Reuse-Port"
The Portlistener can be enhanced. Fasthttp can use something called "reuse_port"
We should implement it

[2017-06-22 15:21] Dexus commented on #3
Some infos about it:
https://github.com/valyala/fasthttp/blob/master/reuseport/reuseport.go
https://github.com/valyala/tcplisten

## Performance optimization tips for multi-core systems

- Use reuseport listener.
- Run a separate server instance per CPU core with GOMAXPROCS=1.
- Pin each server instance to a separate CPU core using [taskset](http://linux.die.net/man/1/taskset).
- Ensure the interr

[2017-06-22 15:25] Dexus commented on #2
Some information for this:
https://github.com/kothar/brotli-go (looks like it can used with streams as we need...)

[2017-06-22 15:30] #1 closed

[2017-06-23 11:09] #3 closed

[2017-06-23 17:49] godofdream opened #7 "Check if we have all required changes to make siris independent"
https://github.com/kataras/iris/pull/657/commits/c56b528dce6b4260db5e7aca7da77f25a9b5e5c3
(Sorry I see that Pullrequest is a joke)

[2017-06-23 19:07] Dexus commented on #7
why the PR link?

[2017-06-23 19:16] Andersbiha commented on #7
I'm wondering aswell?

[2017-06-24 07:30] godofdream commented on #7
sorry i was sending this from a restaurant.
i will compare the changes from the PR link if we should copy some of these.

[2017-06-24 14:11] Dexus opened #10 "TEAM: Release-Management"
Hi,

I would like to know how we would like to do the release managment?

I prefer a own branch "release" where we release the new versions.
To release we should use `gopkg.in/siris.vX` like `gopkg.in/siris.v7`.
In the `master` branch we only work under `github.com/go-siris/siris`.
In `master` is it allowed to push multiple commits in a PR and should be squashed merged or follow the rebased infos

[2017-06-24 15:08] Andersbiha commented on #10
From my point of view i think we should start tracking minor and possibly even patch releases in gopkg.in and github as well.
Suddenly loosing releases have been a big troublemaker in the past.

Any development should happen in feature branches merged to dev from PR's and onto the next release branch with `--no-ff ` so we can keep the history clear.
The master should only contain the changes of th

[2017-06-24 18:35] Dexus opened #12 "FR: h2-quic support"
- [ ] Experimental QUIC support for those that like speed
- [ ] HTTP/2 with QUIC

[2017-06-25 07:19] Dexus opened #13 "FR: TLS key rotation"
Key rotation for tls session keys

[2017-06-25 07:32] Dexus opened #14 "FR: h2push"
Add a function to use the benefits of h2 speed with push of resources before the client will ask for them.

[2017-06-25 08:18] bliuchak commented on #12
See also:
- https://devsisters.github.io/goquic/
- https://github.com/lucas-clemente/quic-go
- https://github.com/devsisters/goquic

[2017-06-25 09:50] godofdream commented on #12
https://github.com/devsisters/goquic seems outdatet. on the other hand devsisters bases on the quic implementation of chromium.
https://github.com/lucas-clemente/quic-go seems newer and simply implemented, but we don't know how long this repository will be maintained.

[2017-06-25 09:52] godofdream commented on #14
there was a push implementation in iris v6. We may copy some of it:
https://godoc.org/gopkg.in/kataras/iris.v6#ResponseRecorder.Push

[2017-06-25 09:59] Dexus commented on #14
Yeah, but this only works on a recorded response, not on a "live" response.

[2017-06-25 10:01] Dexus commented on #12
We should use the lucas repo, its the best for our needs as far as i see.

[2017-06-25 10:07] godofdream opened #16 "TEAM: API-Definition"
In the history the api of iris changed multiple times.
Most of these changes were completly unnecessary, e.g. v6->v7 Render->View

1. We should decide a stable api and keep backwards compatibility.
2. We should mark any new APIs as experimental if it may change in future. (also stable ones as stable)
3. We should decide if we recreate compatibility with v6.
4. We should also decide a default confi

[2017-06-25 10:25] godofdream commented on #7
I have put all the changes i had in mind into https://github.com/go-siris/siris/pull/9

[2017-06-25 10:25] #7 closed

[2017-06-25 10:28] bliuchak commented on #16
@godofdream could you please tell more about p.3 "recreate compatibility with v6"?

[2017-06-25 10:41] Dexus commented on #16
I would not make any compatibility to v6.
The "opensource" iris we can update, to a functional version and maintain it, when it is need...

But I would like to strict take both different.

Von meinem iPhone gesendet

[2017-06-25 11:33] godofdream commented on #16
@threestarsgenius there were many changes in the v7 api that broke applications for users of v6.
e.g. Render became View
func(ctx *iris.Context) became func(ctx context.Context)

@Dexus I agree with you. Siris is not Iris.
Anyway I will Prepare a PullRequest where I will mark functions as stable which will not change, or should not change.

[2017-06-25 11:50] Dexus commented on #16
@godofdream we can make v7 compatible but like siris_depreciated.go

[2017-06-25 17:11] Dexus commented on #16
@godofdream you are right, SIRIS is not Iris.
I like to see your PR, and then we can discuss more about that. I just have no clue what you mean in detail, with "mark". But I'll see.

[2017-06-25 17:42] Dexus commented on #14
omg, I overread it ... https://github.com/go-siris/siris/blob/master/context/response_writer.go#L328

close #14

[2017-06-25 17:42] #14 closed

[2017-06-25 17:44] godofdream commented on #16
@Dexus Do you know how RUST or kubernetes handles their API ?
They have a stable API which will not change, anything that may change is called experimental or beta.
My Propose is to add (API stable) or (API experimental) to all the godocs

[2017-06-25 18:06] Dexus commented on #16
@godofdream no I'm not know so much about ther API-Definition or management, but now I got it. Thanks.

[2017-06-25 20:23] godofdream opened #19 "h2push example"
Issue https://github.com/go-siris/siris/issues/14 shows that an example for http2 push would be useful.

[2017-06-25 20:25] Dexus commented on #19
That's nice!

[2017-06-25 22:40] Dexus commented on #10
So what is the best way to release for gopkg.in and github.com?
To use everywhere as import "gopkg.in/siris.v7"?

[2017-06-26 06:49] ii404msn opened #20 "listen_unix Small bug"
still output **Now listening on: http://localhost:8080**

[2017-06-26 07:13] Dexus commented on #20
can you please provide an example to reproduce?

[2017-06-26 09:43] iam-Justin commented on #20
example
https://github.com/go-siris/siris/blob/master/_examples/beginner/listening/listen-unix/main.go

[2017-06-26 10:20] Dexus commented on #20
It's not a BUG... as of UNIX listener have no (addr/) hostname in the config after start, the default will be used.
We can not check what kind of listener is used, so we can't change this output with unix sockets.

[2017-06-26 10:20] #20 closed

[2017-06-27 10:40] Dexus opened #21 "Websocket examples"
https://github.com/go-siris/siris/blob/master/_examples/intermediate/websockets/connectionlist/main.go#L73

Need to be close (`delete(Conn,c)`) the connection, else you get all the message...

[2017-06-27 10:57] Andersbiha commented on #21
Isn't this exactly what is supposed to happen?

Since you're leaving a room and not totally disconnecting the web-socket connection should still be kept alive.

[2017-06-27 11:13] Dexus commented on #21
yeah, I was first thinking that was the bug, but it must a bit deeper in the source. Maybe you can find it if you like to watch into it. Else I will do it later.

[2017-06-27 13:25] Andersbiha commented on #21
Il'l look into it when i get off work.

[2017-06-27 14:45] Dexus commented on #21
To fix this bug we need to change only:

https://github.com/go-siris/siris/blob/master/websocket/emitter.go#L47 add this
[code]
https://github.com/go-siris/siris/blob/master/websocket/server.go#L304-305
[code]

https://github.com/go-siris/siris/blob/master/websocket/server.go#L331-332
[code]

Sorry if I just steal you the fun to look into it 😀

[2017-06-27 17:21] Dexus opened #22 "Forwarded HTTP Extension RFC7239 and X-Forwarded-*"
see topic

Support many Loadbalancer etc.
https://github.com/ahmadnassri/forwarded-http/tree/master/lib

[2017-06-27 17:24] Dexus opened #23 "Sitemap Generator"
https://github.com/ikeikeikeike/go-sitemap-generator

[2017-06-27 18:40] Andersbiha commented on #21
Should be fixed in the latest commit to the devel branch https://github.com/go-siris/siris/commit/c5fd6787fba149bb5e20fb69fc4e8828db866370

[2017-06-27 18:40] #21 closed

[2017-06-27 20:25] godofdream commented on #23
I'm using this sitemap generator in one of my projects.
Should we create an example for it, or did you thought about an integration?

[2017-06-27 20:30] godofdream opened #24 "Faster Json Renderer"
The default Iris Json renderer uses encode/json.
For fast Json Rendering (and also parsing) there is https://github.com/mailru/easyjson.
We should add an easy option to use easyjson.

[2017-06-27 20:40] Dexus commented on #23
I would like to integrate it, but maybe is a example for the first also a good idea.

[2017-06-27 20:55] Dexus commented on #24
Hmm, do you realy think this will be a god choise? It's incompatible to normal json encoder like interfaces loose types... so it would be really only with a option a good idea. Maybe we need to check also others to find a more full supporting JSON encoder/decoder.

[2017-06-27 20:58] Dexus commented on #24
Btw https://github.com/json-iterator/go/ would be a better alternative

[2017-06-27 21:17] godofdream commented on #24
wow https://github.com/json-iterator/go/ is fast. I didn't knew this project yet.
If we replace the default json encoder I propose to make a configurationflag for it.
This way we don't touch the api.

[2017-06-28 09:43] Dexus commented on #24
see https://github.com/go-siris/siris/tree/feature/json-interator

maybe you like to check and test:

[code]

[2017-06-28 23:58] speedwheel opened #25 "Enable gzip"
Hello,

I can't find anywhere in the documentation how to enable gzip, any thoughts?

Thanks

[2017-06-29 05:10] Allendar commented on #25
Inside a request you can do `c.Gzip(true)` where `c` is `context.Context`.

If you want something global, you can use MiddleWare:

[code]

[2017-06-29 09:10] speedwheel commented on #25
That did the trick, thanks,

[2017-06-29 09:15] #25 closed

[2017-06-29 09:24] bliuchak commented on #24
@Dexus, damn, you're so fast in implementation new things!

Thanks for good example.

[2017-06-29 09:33] Dexus commented on #24
@threestarsgenius Thanks. I need some things myself, so I have to do something. But I hope there are others, that contribute good and fast extensions and/or write test, examples and other stuff that may be of interest.

[2017-06-29 09:35] Dexus commented on #12
i have created 2 feature branches, if someone like to add there a example implementation i'm very happy.

feature/quic-devsisters for https://github.com/devsisters/goquic
feature/quic-lucas-clemente for https://github.com/lucas-clemente/quic-go

[2017-06-29 09:37] bliuchak commented on #24
@Dexus btw, what about this issue https://github.com/json-iterator/go/issues/81 ? Seems to be it's not fully compatible.

[2017-06-29 09:38] Dexus commented on #2
I have create a feature/brotli-compression branch, for those that would like implementation it. Please use this repo to push and/or create PRs

[2017-06-29 09:41] Dexus commented on #24
@threestarsgenius i have seen it, but the maintainer is fast of those reports. give him a bit time, and he will fix it.
Its no clone of encoding/json its a dropin replacement that fits the most needs. To bad that there ist not very good doc...

[2017-06-29 09:49] Dexus commented on #22
I have create a feature/rfc7239-forwarded branch, for those that would like implementation it. Please use this repo to push and/or create PRs.

Btw there is already somthing like that in the source: https://github.com/go-siris/siris/blob/devel/context/context.go#L1076

[2017-06-29 10:17] speedwheel commented on #25
Actually now I noticed that  I get many "net::ERR_CONTENT_LENGTH_MISMATCH" errors in my console log, and some of the resources are not displaying.

If I remove the gzip then everything comes back to normal.

[2017-06-29 10:50] Dexus commented on #25
@speedwheel have you an example where we can look into it?

[2017-06-29 10:58] Dexus commented on #12
A quick implementation:

## devsisters/goquic
[code]

## lucas-clemente/quic-go/h2quic
[code]

Test it with chrome `chromeBinary --enable-quic --origin-to-force-quic-on=example.com:443  https://example.com`

[2017-06-29 11:16] Dexus commented on #12
only problem i found yet is that the devsisters example only listen to UDP4 and not to the UDP6...

[code]

[2017-06-29 11:19] taowen commented on #24
I will try to fix the compatibility issue as soon as possible.

[2017-06-29 11:46] godofdream commented on #12
what happens if you listen on [::]:443 ?
EDIT ah ok i've seen the code. It wouldn't change anything

[2017-06-29 12:19] Dexus commented on #12
So we need to wait, but i prefer lucas-clemente/quic-go/h2quic because it has the heighest versions.

[2017-06-29 13:05] Dexus commented on #24
Thank you @taowen very nice!

[2017-06-29 13:35] Dexus commented on #10
With v8 I would like to change `github.com/go-siris/siris` to `gopkg.in/siris.v8`
Any thoughts?

[2017-06-29 13:45] godofdream commented on #10
Do we need a version bump? I would use v8 only on breaking changes and otherwise v7.
changing to gopkg.in/siris.v7 sounds reasonable

[2017-06-29 13:53] Dexus commented on #10
The change to with v8 will not break currently installations, thats my thought of it.
v8 should be the first own future "SIRIS" release because we change the API I think for the QUIC Support a bit. Maybe not, I don't know yet.

[2017-06-29 13:58] godofdream commented on #10
We could Make the Quic-Support configurable using the SIRIs-Config, so we don't need to change the API.
Everytime we change the API a smooth update is impossible.

[2017-06-29 14:50] speedwheel commented on #25
For example on this page: http://207.154.215.35:8080/5952048c1aa9514c81f9eeec check the console logs.

[code]

[2017-07-02 03:16] rebootcode opened #26 "v8 release date"
Hi, While i see lots of activity happening in the siris ( fork of IRIS ) i am eager to know release date of siris v8 .

Is there any deadline or release date for v8 with all checked improvements and siris being independent.

[2017-07-02 11:06] Allendar commented on #26
Could you describe what you would be expecting? v8 is probably not coming for quite some time, as the features that are currently being thought out are minor patches at most.

Independence is already built-in, because of committed vendoring. There's no use to reinvent the wheel when so many people did all that amazing work already. Even if those repositories would disappear for some reason, it wou

[2017-07-02 11:11] rebootcode commented on #26
Hi Allendar, I am expecting these := https://github.com/go-siris/siris/projects/1

Thanks for taking your time and keeping IRIS Alive.

[2017-07-02 11:15] Allendar commented on #10
Following up on https://github.com/go-siris/siris/issues/26 I think the changes are so minor that a `7.4` would sound more reasonable. Otherwise we end up like Firefox having `53` versions. It doesn't seem to signify it's purpose anymore to go so fast.

[2017-07-03 10:44] Allendar opened #28 "Windows 10 socket TCP socket issue"
OS: Windows 10
Go: 1.8.3 64bit
Siris: 7.3.0

A friend of mine is trying to help me with my project and he's on Windows. Suddenly since the transfer from Iris to Siris he gets the following error:

[code]

He temporarily hard-edited the file to return `1, nil` instead of `fd, nil` and that works.

Maybe it has to do something with these old threads?

https://groups.google.com/forum/#!msg/golang-dev

[2017-07-03 12:21] Dexus commented on #28
Please update to siris 7.3.4

Von meinem iPhone gesendet

[2017-07-03 13:39] Allendar commented on #28
He tried `7.3.3` (latest release), but still the same error. I sadly don't have a Windows machine near me to test.

[2017-07-05 07:24] Dexus commented on #28
I try to find the issue, i make now a clean install and come back to this issue.

[2017-07-06 07:27] Dexus commented on #28
Please try to update to the last siris v7.3.4

[2017-07-06 08:49] Goosterhof commented on #28
I updated to last version and it works!

[2017-07-06 08:52] Dexus commented on #28
So we can close here?

[2017-07-06 08:53] Goosterhof commented on #28
yeah, thnx for the fix!

[2017-07-06 09:19] #28 closed

[2017-07-06 09:27] #26 closed

[2017-07-06 10:52] Dexus commented on #2
I start to integrate brotli from https://github.com/google/brotli/tree/master/go/cbrotli
maybe it works as i hope :)

[2017-07-06 12:54] Dexus commented on #2
any idea how to make it working without compile brotli as lib before?
Can we deliver precompiled pkg's?

[2017-07-06 12:59] godofdream commented on #2
caddy has the same issue:
https://github.com/mholt/caddy/issues/525

[2017-07-06 13:11] Dexus commented on #2
okay, so we need to support brotli precompiled files or the users need to compile that them self.

[2017-07-06 14:11] EvertonSalesBranco opened #29 "Multiple fields [GET params]"
Hi guys,
To get values in a query of GET method, like:
"?searchPhrase[fields][]=name&searchPhrase[fields][]=registry&test=abc"

I did something like this:
ctx.Request.Form["searchPhrase[fields][]"][0]   -> name
ctx.Request.Form["searchPhrase[fields][]"][1]   -> registry

I think is a good idea do some wrapper to that, I right?

[2017-07-06 14:52] Dexus commented on #29
You can use a struct for it.

Von meinem iPhone gesendet

[2017-07-06 16:25] Allendar commented on #2
Wouldn't it be best to set the compression rate to the highest? Since the power of Brotli it's static system over Gzip's dynamic system. If a file get's compressed and never changes again it probably won't get a recompression. Brotli is much slower than Gzip, but if you Google the benchmarks you can easily get 15~25% more compression than on Gzip.

It kind of reminds me of doing this with Apache y

[2017-07-06 16:31] Allendar opened #30 "Provide better/faster template examples"
When I started with Iris last year I used the Django templates for quite some time. Later realizing how terribly slow these rendering engines are I moved to https://github.com/valyala/quicktemplate. But https://github.com/shiyanhui/hero also looks amazing.

Instead of providing examples that might be easy to start with it might be better to instantly set people on the right path and offer fast sol

[2017-07-06 16:34] speedwheel commented on #30
@allendar I have been also researching about this since I have been using the default go template and it's horrible slow.

Any examples how to integrate quicktemplate with Siris?

[2017-07-06 17:03] Allendar commented on #30
Here's a raw example of how I'm doing my front-end:

`layout.qtpl`
[code]

`login.qtpl`
[code]

`helpers.qtpl`
[code]

`routeLogin.go` (`validator.NewFormValidator` I wrote myself. Kind of works like Symfony's Form handler)
[code]

`helpers.go`
[code]

It's a fast/stripped paste, so forgive me if there are broken parts :)

[2017-07-06 17:32] Dexus commented on #30
I'll add some more template engines in the next weeks. Please stand by.

[2017-07-06 18:01] speedwheel commented on #30
@allendar which is the part that makes it work with siris?

[2017-07-06 18:04] Allendar commented on #30
You make a subpackage (e.a. `qtpls`), put your `.qtpl` files there and through `qtpls.WritePageTemplate(c, ...)` the QuickTemplate parser writes to Siris' context responseWriter. When you run `qtc` that comes with QuickTemplate it will Gogenerate the `.qtpl` templates into `.go` files that deliver a writing interface for super fast buffered output.

[2017-07-06 18:16] everton-sales-branco commented on #29
@Dexus Is there any function to it?

[2017-07-06 18:36] Dexus commented on #29
I mean yes but I have just no computer to look. I mean there is also an example or maybe it was on the iris website as long as it was available...

Von meinem iPhone gesendet

[2017-07-06 18:45] Allendar commented on #29
I never used it, but I think it was something like this:

[code]

[2017-07-06 18:55] Dexus commented on #29
Try this: https://github.com/google/go-querystring/issues/7#issuecomment-259792233

It's not yet for GET Params (Querystring) implemented if looked just into it. But we can do it.

[2017-07-06 19:22] Dexus commented on #29
Or even better maybe: https://github.com/pasztorpisti/qs

[2017-07-06 20:31] EvertonSalesBranco commented on #29
@Dexus https://github.com/pasztorpisti/qs is a good alternative, maybe it should be incorporated in the project.

[2017-07-06 21:03] Dexus commented on #29
When you use ctx.Request.URL.Query() and qs or schema you don't need to build this crap wrapper...

[2017-07-06 21:46] everton-sales-branco commented on #29
Ok, qs is the solution.

[2017-07-06 21:58] Allendar opened #31 "Built-in Memory session leaks?"
Loading a simple `c.Session()` (not even a get/set on it) on the `context` and then running `wrk -d10s -t3 -c100 https://localhost:8443` benchmark spikes my initial app's 50MB memory instantly to `450MB+`. Turning the session-access off on a test page in my application and the whole overhead is instantly gone and even after running multiple runs the memory stays super steady the same low usage.

I

[2017-07-06 22:08] Allendar commented on #31
I noticed this is also the reason I'm _only_ achieving `38k~` requests per second. When I turn session-load/init off and literally keep all my other full production code running (with middleware/etc.) I easily get `47~51k` per benchmark-run.

[2017-07-06 23:01] Dexus commented on #31
Do you use the default sessions? MemStore?
Then you need to know each request will generate a new sessionId which will for sure blow the memory to your 350-450MiB.

I'm right?
Maybe you try also redis as session storage and compare the usage of your program after that.

[2017-07-06 23:03] Allendar commented on #31
Yes, but with securecookie. Without it's the same issue tho. The same without a custom SessionDB too actually. So even just running the example basic memstore gives the issue.

[code]

Redis is not an option. Once I link Redis (even over socket) my req/sec go down below `1000 per/second`.

[2017-07-06 23:06] Allendar commented on #31
Maybe the benchmark keeps making new cookies (and new sessions), or has none to say so, and that's the issue?

[2017-07-06 23:07] Dexus commented on #31
Securecookie use the same memstore. So its no bug when the memory is the store. When you use redis or an other storage backend, you dont blow your memory usage. But i have not yet tried it, i'm only write you from my bed 😅 My wife is to loud... 😴

[2017-07-06 23:09] Allendar commented on #31
Haha no worries. Go to sleep! It's late here too 😆.

I think we need to research this a bit more tho. Maybe it's an added effect of the benchmark. I'll try to see tomorrow (movie-night first :D) or in the weekend if I can run a benchmark that injects a cookiejar.

[2017-07-06 23:13] Dexus commented on #31
Year the wrk dont use cookies as far as i know. But with a lua script you can set your session cookie: example: https://www.darklaunch.com/2014/02/11/use-wrk-benchmark-tool-to-stress-test-a-website

[2017-07-06 23:15] Allendar commented on #31
Thank you I will look into it too! This issue is currently the only anomly I have in my whole project performance/memory-wise, so if I can be sure it's really not an issue on bigger scaled environments, then I can sleep better too :).

[2017-07-06 23:19] Dexus commented on #31
I have now checked it myself i only get 10 random sessionids and don't blow my memory ;) so looks all fine fore me.

If you have other thoughts, let me know. Else please close this yourself. Thanks.

[2017-07-06 23:32] Dexus commented on #2
For static files you are right, the best compression will be the best, but for dynamic contents it would be the best to use quality 0 to 5. speed vs compression.

Maybe we should also try to implement for static files check for gzip an br accept header and check files with gz or br suffix.

[2017-07-07 00:08] Dexus opened #32 "real-ip only via enabled config *security"
Make real ip headers only change the remoteAddress when the config is set else visitors are able to fake own ip addresses...
Make config variable to enable differend types of "proxys".

[2017-07-07 00:23] Dexus commented on #30
@Allendar are you able to create a example for quicktemplate and create a PullRequest?

[2017-07-07 05:30] Allendar commented on #30
@Dexus I'll submit a PullRequest somewhere in the weekend. Which example level should this be in? Or maybe make a new one called something like `best_practice` or `optimal`?

[2017-07-07 08:24] Dexus commented on #30
Use `examples/best_practice/views` think that would match it.

[2017-07-07 09:18] hiveminded commented on #32
Thanks for pointing that out on [that commit's comment](https://github.com/get-ion/ion/commit/70c1b92419ccdb78c3e96eb1600078d17c368831#commitcomment-22968414).

at [ion](https://github.com/get-ion/ion), an iris-based framework too, we fixed that with the following options: `WithRemoteAddrHeader/WithoutRemoteAddrHeader` that can be passed to the `app.Run`.

You're free to see the code and apply the

[2017-07-08 08:11] Allendar opened #33 "Correct framwork in repo title to framework"
Just a small thing :)

[2017-07-08 10:03] #33 closed

[2017-07-08 10:03] Dexus commented on #33
Done

[2017-07-08 10:21] #30 closed

[2017-07-08 14:16] Allendar commented on #31
This reproduces it for me on macOS Sierra 10.12.5 on Go 1.8.3 with Siris 7.3.4:

[code]

Start says the memory is `3,3MB`.

Then running `wrk -d10s -t3 -c100 http://localhost:8080` once and it's `195,0MB` (not giving back memory, even after waiting the max 7 minutes on GC).

Running it again the memory just goes up to `395,0MB`. Third run `628,9MB`.

Details of the process say:

[code]

To be clea

[2017-07-08 14:54] Allendar commented on #3
This is only meant to run on Linux/BSD distros? macOS runs POSIX certified BSD core with a custom kernel, but when I turn this feature on (as a test), the server just stops instantly without an error or prompt.

[2017-07-08 16:23] Dexus commented on #31
If no Expire is set, it is unlimited read source sessions.go

Von meinem iPhone gesendet

[2017-07-08 16:25] Allendar commented on #31
What would be a solution for this problem that won't cause massive leaks on high-velocity servers?

[2017-07-08 16:40] Allendar commented on #31
If I set the `sessions.Config.Expires` to 15 seconds as a test the peak just stays high too. Even after waiting a few minutes.

Update: Have it running for a while now and did some random browser visits in the meanwhile too and it seems the memory never gets freed again.

[2017-07-08 16:53] Dexus commented on #3
For now yes, with all the features its possible. Like the original source for this feature.

Von meinem iPhone gesendet

[2017-07-08 17:04] Allendar commented on #3
Would there be an explanation for the server instantly shutting down without warnings on macOS? Maybe it's an interpretal thing, or a bug?

[2017-07-08 17:20] Dexus commented on #31
Okay, I will make a pprof to this...

[2017-07-08 17:22] Dexus commented on #3
Look into go-siris/tcplistener when you find there a bug or something... let me know i dont see any known bugs there.

[2017-07-08 17:50] Allendar commented on #3
https://github.com/go-siris/siris/blob/master/vendor/gopkg.in/go-siris/tcplisten.v1/tcplisten.go#L132

On macOS it says it's `tcp` and thus makes it panic. Would that be a legit alias for `tcp4` or is that not safe enough?

Update: If I temporarly alias `tcp` to `tcp4` everything seems to run well. But as I don't have much knowledge of the internal workings, I'm not sure that is the safest way.

[2017-07-08 17:58] Dexus commented on #3
Damn, you are right. There is a aliase needed.

[2017-07-09 15:04] Dexus commented on #29
Internal notice:
- https://github.com/pasztorpisti/qs
- https://github.com/gorilla/schema

Add a new context function for get params to parse into a struct. Also add a shortcut function to get fields only for querystrings, because `ctx.request.Form`  (`ctx.FormValue('namestring')` or `ctx.FormValues()`) overwrite same name fields with post/put params.

[2017-07-09 19:16] Dexus commented on #31
So after profiling and debugging I can't find any reason that the implementation has a memory leak.

[code]
[code]

[code]

That's anything i get and it dont blows after the expire.

Maybe a other like to check...

[2017-07-10 06:57] Allendar commented on #31
Did you try this while running high velocity calls or just a one or a few? I also don't experience the growth while doing fast refreshes in the browser. It purely happens when do many concurrent calls.

Maybe it has something to do with GC within goroutines that makes it never release correctly? I know from Objective-C that within a subthread if you disconnect a `strong`-typed variable from memory

[2017-07-10 07:23] Dexus commented on #31
I did run this on my dev server and run wrk with a 600s try. Sessions expire after 15s.

Maybe we get an answer from @kataras or maybe the team of @get-ion have an idea.

Von meinem iPhone gesendet

[2017-07-10 09:49] Dexus commented on #32
@hiveminded please note "CF-Connecting-IP" not "HTTP_CF_CONNECTING_IP" cause of real headers and not a PHP/FCGI Client or Server that change the header to UPPERCASE and prefixing the header names to prevent overwriting the environments...

[2017-07-10 16:18] speedwheel opened #37 "Use Cache Markdown for partial data"
#I saw that the Cache Markdown it's used for full page caching, is there any way I can use it just to store certain content from the page (key, value interface for example).

[2017-07-10 16:31] sankethpb opened #38 "Will siris be merged again with iris?"
Based on today's note in the iris github page (https://github.com/kataras/iris), it seems that the leadership of this, open-source, repository was transfered to [hiveminded](https://github.com/hiveminded). So am bit confused.
Would this mean that there will be two versions of iris framework from now on or would it be merged back again?

Thanks in advance for clarification.

[2017-07-10 17:20] Dexus commented on #38
That's a good question, that I can't answer yet.
For me personaly will continue siris, as long as kataras is owner of Iris. Because I don't trust him cause of his many fail steps with community and all the PRs that was not in the (git-)history that where created from other origin creators.

[2017-07-10 18:06] Allendar commented on #37
You can easily write a cache yourself with a atomic-based map structure like https://github.com/orcaman/concurrent-map or https://github.com/coocood/freecache. This way you'll have 100% control on how your _block-cache_ works.

[2017-07-10 18:12] Allendar commented on #38
I prefer not to deal with that repository again unless the new maintainer will actually honor open development. I can't even remember how many times kataras switched to different environments and totally wiped all PR's and open issues. It was very unreliable and honestly it left a bitter taste. I very much prefer to keep working here without dictative maintainers like in the PHP Laravel project.

[2017-07-11 09:48] theodesp commented on #38
Ow my why did he do that? Maybe I can have a word with him in Greek 📦

[2017-07-11 09:51] theodesp commented on #37
Maybe we can w8 for 1.9 with sync.map https://github.com/golang/go/issues/18177 ?

[2017-07-11 10:46] Dexus commented on #38
According to the current state, SIRIS will not go back to iris.

Since the transparency by @kataras unfortunately is always restricted by the dubious statements and actions and the trust in him is missing/limited.

We can't say what is with @hiveminded but, with @kataras we will not in the near future work together.

We have never personally attacked @kataras and are not interested. However, he ta

[2017-07-11 11:34] kataras commented on #38
@sankethpb Iris is back again, use https://github.com/kataras/iris instead, which was recently updated too.

 As I can see from the @Dexus 's comments, he's trying to attack that this project is based on, this is a
 joke. go-siris is a fork of Iris which doesn't respects the code of conduct that they agreed, contains old source-code and based on the commits they made I can see that this team is no

[2017-07-11 11:37] kataras commented on #38
@sankethpb Iris is back again, use https://github.com/kataras/iris instead, which was recently updated too.
**EDIT BY godofdream: @sankethpb siris will also be continued so you are free to use siris or iris**

 As I can see from the @Dexus 's comments, he's trying to attack that this project is based on, this is a
 joke. go-siris is a fork of Iris which doesn't respects the code of conduct that th

[2017-07-11 11:52] Dexus commented on #38
Thanks @kataras,
btw the race condition, you have to be responsible ...
But no problem, we will fix it. Thanks for your support and report issues.

[2017-07-11 11:53] Dexus opened #39 "Race condition"
tbd

[2017-07-11 12:06] theodesp opened #40 "Add issue template"
It's a good practice to add an issue template, I believe it will take a more serious step towards
issue triage
https://help.github.com/articles/creating-an-issue-template-for-your-repository/

[2017-07-11 12:08] Dexus commented on #40
Thanks for this advice, maybe you are like to open a PR and add it?

[2017-07-11 12:12] esemplastic commented on #38
@Dexus race condition has been fixed on Iris, this is your responsibility, if you can't support the project leave it and use Iris as we all do.

[2017-07-11 12:15] Allendar commented on #38
The provocation gets a little sad. And who is _we all_?

[2017-07-11 12:15] esemplastic commented on #39
This is fixed on [Iris](https://github.com/kataras/iris) why race-condition in this project??

[2017-07-11 12:17] esemplastic commented on #39
This race condition at `main.go` README and examples is not occurred on [kataras/iris](https://github.com/kataras/iris) why race-conditions in this go-siris project??

[2017-07-11 12:20] esemplastic commented on #38
![whatsgoingon5](https://user-images.githubusercontent.com/26099364/28068030-70d0920e-664c-11e7-8484-1149901baf1a.png)
![whatsgoingon4](https://user-images.githubusercontent.com/26099364/28068032-716354ae-664c-11e7-9f7f-79e8d2ad1e5c.png)

@Dexus is deleting my comments with no reason, is this a community-driven project?

[2017-07-11 12:28] hiveminded commented on #38
@Dexus deleting comments is not a correct way to support your project...

I did had time to see what @esemplastic told you , he didn't tell anything wrong, please contact with me on [chat](https://kataras.rocket.chat/channel/iris) if you want to speak with me. I am posting his message back:

![](https://user-images.githubusercontent.com/26099364/28068148-e12add84-664c-11e7-8983-30134b2edb51.png)

[2017-07-11 12:40] Dexus commented on #38
@hiveminded
This is not more on Iris, after the new v8, so don't say Iris is better or what you else try to make fame for...
You (not yourself at all @hiveminded) now try to start a war that no one wanna have. So don't accept trolling... and that was trolling and spam.

EDIT: @kataras has blocked me from iris framework, so why he now angry? I did only ask a legitim question. And asked for the futu

[2017-07-11 12:42] hiveminded commented on #38
I'm sorry for you, I wish you good luck on the project but it's not clever to say iris is not better in the same time you can't fix a simple race condition here...

[2017-07-11 12:43] hiveminded commented on #38
I'm sorry for you, I wish you good luck on the project but it's not clever to say iris is not better in the same time you can't fix a simple race condition here...I was trying to help both of you but you 're still attacking and trolling on Iris...

[2017-07-11 12:49] Dexus commented on #38
@hiveminded okay, other people have maybe a reallife. So good luck. Sit back into a prepared nest.
And one last question: Where i was trolling on Iris? This was not trolling, but the answer to the reaction "no proper discussion" want to lead.

Anyway, much success.

[2017-07-11 14:16] godofdream commented on #38
Hi Guys, I'm taking the opportunity to close this issue.
We made clear siris will not be merged into iris anymore and siris will stay.

I'm sad that kataras didn't inform us, or contacted us to inform that hiveminded will take over iris.
We requested to take over https://github.com/kataras/iris/issues/658 (see my removed comment) so we were surprised.

We are happy if iris copies some of the featu

[2017-07-11 14:16] #38 closed

[2017-07-11 21:16] Dexus commented on #31
Okay now after multiple reviews and tests it is verified the session manager is crap and has no functional GC. Will fix it in the next days.

[2017-07-11 21:17] #10 closed

[2017-07-11 21:18] #16 closed

[2017-07-11 21:40] theodesp commented on #31
It funny as I was reading the book [Release-it](https://www.safaribooksonline.com/library/view/release-it/9781680500264/f_0034.html) recently and there was a chapter about sessions.

[2017-07-11 21:54] Allendar commented on #31
Yes it requires a lot of care and love to make sure you don't get speed degradation while developing. I don't mean _Early optimization is the root of evil_ per se, but it's good to run benchmarks every few days of development to see if you didn't make a huge slowdown in the code.

For me; the main rule is that everything that comes from outside Go or lives in a wrapper will slow the code down. Tha

[2017-07-11 21:59] Dexus commented on #31
Yeah... but how would work online banking, github and other websites without it... 🤔
Will take care for a secure implementing.
But you can look at kataras/go-sessions and look to the commits and then you know how good this guy was... lol sorry don't wanna put my finger into this wound... it's to personal... 🙄

[2017-07-11 22:02] Allendar commented on #31
Well you still have your sessions in memory. And you could do intermediate writes every minute to some `shm`-disk and every 30/60min. to a normal disk.

Also the Gorilla securecookie + force HTTPS on my projects ensures maximum security. Securecookie lowers my current project's req/sec from ~47k/sec to ~38k/sec. It's the only sacrifice I'm willing to make tho.

[2017-07-11 22:03] speedwheel commented on #31
@allendar can you make an example with the session loader on start-up. I was also looking for a solution  for this,  since redid is a huge slowdown.

[2017-07-11 22:07] theodesp commented on #31
Maybe a fresh start will help
https://www.owasp.org/index.php/Session_Management_Cheat_Sheet
https://docs.djangoproject.com/en/1.11/topics/http/sessions/

[2017-07-11 22:09] Allendar commented on #31
Here's a raw dump of my interface SessionDB interface. It's a simple version, but works perfect for me: https://gist.github.com/Allendar/748aef2e4144edc5a5362393bad9b0bd

[2017-07-11 22:09] Dexus commented on #31
Sure you can make with securecookies much, bad on the other side is, that you have a big overhead with each request... headers are bad and cookies with 100kb+ exponential bad!

Edit: @theodesp thanks for the links, was just looking for them and you are to fast for me 🙂

[2017-07-11 22:17] theodesp commented on #31
I thought a Memcached session storage was fast because it has an LRU eviction. Slab allocator and stuff. It works in distributed mode also.

[2017-07-11 22:21] Allendar commented on #31
Nothing can probably beat the 0 allocation style that `cmap` achieves. The only strategy that needs to be figured out is how often to write away the data and how to efficiently distribute blocks and changes.

The biggest drawback on external tools is that most connect over TCP or socket (fs). That's always a big bump in the road, no matter how much you'd tweak.

[2017-07-11 22:24] theodesp commented on #31
Can we provide controls on how much the `cmap` grows and key eviction? What about stats?

[2017-07-11 22:29] Allendar commented on #31
You'd probably need something like freecache does. It does have expiration/evacuation/hitrate/etc. stuff. But it's probably not very hard to make some sort of channel that would run non-blocking stats as the sessions get read/written. Size-limitation will probably be something that's a bit more difficult. I only store `userID`, `referrer` and some flash data in session tho. I never had issues that

[2017-07-11 22:35] theodesp commented on #40
PR #41

[2017-07-11 22:45] Dexus commented on #40
Thank you.

[2017-07-11 22:45] #40 closed

[2017-07-12 11:26] theodesp opened #42 "Add code coverage reported via https://codecov.io"
As a contributor, and user I would like to see the projects code coverage report in a nice graphic environment

Solution
----
Utilize  https://codecov.io

See example project [here](https://github.com/codecov/example-go)

[2017-07-12 11:57] theodesp commented on #42
https://github.com/go-siris/siris/pull/43

[2017-07-12 11:58] theodesp commented on #42
Sample report
https://codecov.io/gh/theodesp/siris/branch/SIRIS-42

[2017-07-12 13:17] Dexus commented on #42
Close #42 via 87aec87

[2017-07-12 13:17] #42 closed

[2017-07-12 14:09] theodesp commented on #23
Maybe we can take a different approach and create a `Sites` facade similar to https://docs.djangoproject.com/en/1.11/ref/contrib/sites/
that will help working with multiple sites

With that, we can add a sitemap generator based on a site

[2017-07-14 11:50] theodesp opened #46 "Need AppVeyor Support for testing on windows clients"
**Note: for support questions, please use our [gitter channel](https://gitter.im/gosiris/siris) or stackoverflow**. This repository's issues are reserved for feature requests and bug reports.

*   **I'm submitting a ... **

    *  [ ] bug report
    *  [x] feature request
    *  [ ] support request => Please do not submit support request here, see note at the top of this template.
*   **Do you wan

[2017-07-14 11:58] theodesp commented on #46
PR https://github.com/go-siris/siris/pull/47

[2017-07-14 12:33] Dexus commented on #46
Merged via 215750b6791906bea9f4aa03f11727c554b9e850
Close #47
Close #46

[2017-07-14 12:33] #46 closed

[2017-07-15 05:10] statusdevel opened #48 "Possible License Violation"
Some days ago you deleted a comment from @esemplastic but I was there to download his second attempt (he uploaded his screenshot to https://github.com/go-siris/siris/issues/39 ) :
![wts](https://user-images.githubusercontent.com/26099364/28236620-cfd41c74-6932-11e7-8ec5-d4b0e517a28c.png)

He just asked you why race conditions in this project while iris hadn't.

I gave you some time to see what you

[2017-07-15 05:24] statusdevel commented on #31
Some days ago you deleted a comment below:
![wts](https://user-images.githubusercontent.com/26099364/28236620-cfd41c74-6932-11e7-8ec5-d4b0e517a28c.png)

He just asked you why race conditions in this project while iris hadn't.

I gave you some time to see what you'll do and **how you will fix it** and you did the exactly thing again, you **pasted code from kataras/iris** repository and you removed

[2017-07-15 06:51] Dexus commented on #48
First at all, why I should reinvent the wheel? For things that already there and works?
Licenses are there so I dont know what you see for problems.

When I have done something wrong, then I'm sorry. I will review and add then the left license or author.

[2017-07-15 06:54] #32 closed

[2017-07-15 07:25] godofdream commented on #48
Hi Statusdevel. Welcome to Github. We will check if there is any license violation. I think we will start to add all authors to files, but as already kataras already removed so many authors it is hard to read them all.
By the way is there any software to find missing authors? Would be nice to autocomplete it.

@Dexus I will add the authors if the changes were made before your pullrequest.

[2017-07-15 07:29] godofdream commented on #48
Because we didn't know about it at that moment.
We deleted his comment because of the language he used.

Added reuseport, fixed some more errors.
Our project is relativly new, so give us some time to add the features we want to add.

[2017-07-15 08:58] godofdream commented on #48
kataras/iris@4c76fca#diff-93bf20dfbbddefa00c7d76a4090ab137 pushed 5 days ago, history notes about these changes can be also found here .

kataras/iris is uses the BSD-3 License:
https://github.com/kataras/iris/blob/4c76fca09bb632ed9a3bb3859a244e383c158bfd/LICENSE

The Siris LIcense File Mentions the iris project and the original author Gerasimos Maropoulos
https://github.com/go-siris/siris/blob/ma

[2017-07-15 08:58] #48 closed

[2017-07-15 12:35] godofdream commented on #24
https://github.com/json-iterator/go/issues/81 is fixed now. we could switch to the new branch.
I did only POC tests as i don't use the json renderer in any of my projects yet.
Could anyone else approve?

[2017-07-16 10:41] Dexus commented on #24
It should be stable enough now.
On one of my API, I use the branch and have no problems with enabled jsoniter.

[2017-07-16 10:41] #24 closed

[2017-07-17 11:19] astaxie opened #50 "Why I get the notification from this repo"
I didn't watch this repo. And got a lot notifications from this repo.

[2017-07-17 11:38] Dexus commented on #50
Because some Git-User use the mention?
Maybe you can give some more background in which context you get the mention?

[2017-07-17 12:57] astaxie commented on #50
No, All the issue update and pull request I will get the notifications. That's weird.

[2017-07-17 13:05] Dexus commented on #50
Hmm, don't know. Maybe it'll be better to contact the GitHub-Support. I only know that you where used in some mentions here from a user.

I close this issue, as we are not able to fix that - it's GitHubs job.

[2017-07-17 13:05] #50 closed

[2017-07-20 12:47] theodesp opened #51 "Allow support for a LimitListener"
**Note: for support questions, please use our [gitter channel](https://gitter.im/gosiris/siris) or stackoverflow**. This repository's issues are reserved for feature requests and bug reports.

*   **I'm submitting a ... **

    * [ ]  bug report
    * [x]  feature request
    * [ ] support request => Please do not submit support request here, see note at the top of this template.
*   **Do you want

[2017-07-20 12:53] Dexus commented on #51
Are you able to implement it with test and coverage?

[2017-07-20 13:01] theodesp commented on #51
I will work on this weekend

[2017-07-20 14:44] #39 closed

[2017-07-21 07:06] #31 closed

[2017-07-21 07:13] Dexus opened #52 "Session Store Backend: Badger"
@theodesp
Hey I just found that article comparing Badger Vs BoldDB
https://medium.com/@hendra_zhong/badger-vs-boltdb-persistent-key-value-store-written-in-go-e94ada87048f

Maybe we can add a plugin for interfacing Badger as a session store

[2017-07-21 11:01] astaxie commented on #50
I find that this https://github.com/go-siris/siris/issues/48 mentioned me. 😓

[2017-07-21 11:03] Dexus commented on #50
This should now stop. It's closed and locked.
Sorry.

[2017-07-21 12:30] theodesp commented on #51
I would like to also enhance the ticket scope by providing options for:
1. Limiting the Server connections in a global way
2. Limiting the Server connections from a particular client.ip, request.host or request.header.X-Header
3. Expose options from a config file
4. On connection limit, we should respond with https://httpstatuses.com/429
5. Middleware support.

[2017-07-21 12:55] Dexus commented on #51
I like it. I'm looking forward to testing it.

[2017-07-21 13:49] #29 closed

[2017-07-25 06:57] #13 closed

[2017-07-25 06:57] #22 closed

[2017-07-26 15:35] Dexus commented on #12
see #59

[2017-07-29 11:54] #12 closed

[2017-07-29 12:32] Dexus commented on #52
Cause of a bug in badger that don't let it work as excepted on windows and other os... I wait with this integration...

[2017-07-29 14:01] Allendar commented on #37
Closing this as it seems like a custom required feature for speedwheel's project.

[2017-07-29 14:01] #37 closed

[2017-07-29 17:40] #19 closed

[2017-07-30 15:44] Dexus opened #62 "devel: quicServer does not start..."
*   **I'm submitting a ... **
    *   bug report
*   **Do you want to request a _feature_ or report a _bug_?**
BUG
*   **What is the current behavior?**
does not start the quicServer
*   **If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem**
...
*   **What is the expected behavior?**
start the quicServer

[2017-07-31 20:18] #62 closed

[2017-08-01 15:09] Allendar opened #66 "Full server hang after setting Flash Message and redirecting"
Go 1.8.3. Homebrew
macOS Sierra 10.12.6

The following code reproduces the error. You go to `/`. Then it redirects to `/landing`. Then if you go to the `/` url again (or any that you would define), the request hangs forever.

[code]

[2017-08-01 17:18] Dexus commented on #66
Do you use the master branch?

[2017-08-01 17:19] Allendar commented on #66
No the `7.3.4` release. I'll try it on the master branch in a bit.

[2017-08-01 17:25] Dexus commented on #66
ok, I will also look into it.

[2017-08-01 17:25] spheria opened #67 "Please provide a boilerplate with User Registration/Login/Logout. We need it badly."
*   **I'm submitting a  feature request

Please provide a boilerplate with User Registration/Login/Logout. We need it badly.

[2017-08-01 17:44] Dexus commented on #67
Sorry we can't code you this stuff. You should be able to it by yourown. When you like to hire a Go coder please wirte it here and reopen the issue. Thanks.

[2017-08-01 17:44] #67 closed

[2017-08-01 17:45] Allendar commented on #66
Looked into together with @Dexus. Will be outphased in the next version, to use the normal Session functionality instead of the Flash helper-functions. Still a bug in the current release, but won't be anymore as it'll be deprecated in `7.4.0`.

[2017-08-01 17:45] #66 closed

[2017-09-05 13:52] go-xworkflow opened #70 "may u add these functions?"
may u add these functions?

context.URLParamBool(name string) (bool,error)
context.URLParamTrim(name string) string
context.URLParamEscape(name string) string
context.URLParamFloat64(name string) (float64, error)

context.PostValueTrim(name string) string
context.PostValueEscape(name string) string
context.PostBool(name string) (bool,error)
context.PostInt(name string) (int, error)
context.PostInt

[2017-09-05 13:58] Dexus commented on #70
Can you create some examples for each function so we can see what it should expect as input?

Von meinem iPhone gesendet

[2017-09-05 15:06] xormplus commented on #70
i think like this
[https://github.com/go-macaron/macaron/blob/master/context.go](https://github.com/go-macaron/macaron/blob/master/context.go)

[code]

[2017-09-05 15:08] go-xworkflow commented on #70
i think like this
https://github.com/go-macaron/macaron/blob/master/context.go

[code]

[2017-09-05 15:19] Dexus commented on #70
Yeah that should be possible, give me some days. I'm a bit busy at the moment.

Von meinem iPhone gesendet

[2017-09-06 15:06] Dexus commented on #51
@theodesp any update?

[2017-09-13 16:20] h3110w0r1d opened #71 "this framework is a shit"
**Note: for support questions, please use our [gitter channel](https://gitter.im/gosiris/siris) or stackoverflow**. This repository's issues are reserved for feature requests and bug reports.

*   **I'm submitting a ... **

    *   bug report
    *   feature request
    *   support request => Please do not submit support request here, see note at the top of this template.
*   **Do you want to requ

[2017-09-13 17:12] #71 closed

[2017-10-12 16:52] CasperHK opened #72 "[Feature Request] XAMPP-like solution: React, go-SIRIS, MongoDB"
I am considering whether we can make a complete solution like XAMPP with go-SIRIS, React, Webpack, MongoDB, Server-side rendering, on-component-demand loading.

If we can have a complete solution in this way, many new developer must be attracted to adopt go-SIRIS.

Also, there should be some tutorials (Docs, Websites and Youtube videos) to guide us to understand everything.

Do you think it is a g

[2017-10-23 13:50] bliuchak commented on #72
I guess this can be easily done using docker (docker-compose)

[2018-02-21 23:57] johnnynypa opened #73 "how to integrate Siris with ReactJs?"
cómo integrar Siris con ReactJs?

Voy a montar mi backend con Siris, y mi frontend con React, pero no quiero que React este en un servidor de desarrollo aparte.

[2018-02-22 13:21] #73 closed

[2018-06-22 12:28] kamilgregorczyk opened #74 "Websockets over Redis"
Hi, some time ago I reported new issue in the iris repo but it got closed and my comment was deleted:/ then I found this repo and I think it has the same problem as iris has.

WebSockets should use some kind of a backend like Redis or RabbitMQ (or any other pubsub mechanism).

Why?

You see, let's imagine we have three clients:

CLIENT 1 <--->    INSTANCE 1
CLIENT 2 <------/\

CLIENT 3 <--->   INS

[2018-06-22 12:31] kamilgregorczyk commented on #74
https://hackernoon.com/communicating-go-applications-through-redis-pub-sub-messaging-paradigm-df7317897b13

[2018-08-17 08:05] AndreiPiakhota opened #75 "Build failure due to recent changes to satori/go.uuid project"
I'm submitting a bug report. SHOWSTOPPER

*   **What is the current behavior?**

Build failure when trying to build my project which has go-siris as dependency.

`vendor\github.com\go-siris\siris\core\errors\errors.go:35:22: multiple-value uuid.NewV4() in single-value context
`
The failure is caused by recent updates to satori/go.uuid project .

[code]

So now this function returns multiple values